@charset "utf-8";
$minWidth: 1012px;
$maxWidth: 100%;
html,
body {
  font-family: "STKaiti";
}
.top {
  width: $maxWidth;
  background-color: rgb(247, 247, 247);
  height: 28px;
  .top-box {
    text-align: center;
    font-size: 12px;
    line-height: 28px;
    color: rgb(165, 165, 165);
    height: 28px;
  }
}
// 头部导航
.header {
  position: relative;
  //   overflow: hidden;
  width: $maxWidth;
  background-color: rgba(255, 255, 255, 0.9);
  height: 87px;
  border-bottom: 2px solid rgb(165, 165, 165);
  .header-box {
    width: $minWidth;
    margin-left: auto;
    margin-right: auto;
    .logo-box {
      width: 62px;
      height: 85px;
      border: 1px rgb(182, 182, 182) solid;
      float: left;
      img {
        width: 62px;
        height: 85px;
      }
    }
    .header-nav {
      width: 610px;
      height: 85px;
      margin-left: auto;
      margin-right: auto;
      .furniture,
      .home,
      .art,
      .column,
      .news {
        color: rgb(137, 137, 137);
        font-size: 14px;
        margin: 0 47px;
        float: left;

        a {
          display: inline-block;
          padding-top: 35px;
          padding-bottom: 30px;
        }
        a.selecta {
          color: rgb(93, 93, 93);
          border-bottom: 3px solid black;
        }

        .furniture-subnav,
        .home-subnav,
        .art-subnav,
        .column-subnav {
          z-index: 3;
          width: $maxWidth;
          height: 84px;
          position: absolute;
          left: 0;
          bottom: -84px;
          background-color: rgba(255, 255, 255, 0.5);
          text-align: center;
          display: none;
          transition: 3s;
          ul {
            margin-left: 225px;
            li {
              float: left;
              padding: 0 10px;
            }
            li.other {
              line-height: 84px;
              padding: 0;
              a {
                padding-top: 0;
                padding-bottom: 0;
                padding-right: 10px;
                line-height: 12px;
                border-right: 1px rgb(137, 137, 137) solid;
              }
            }
          }
          .art-ul {
            margin-left: 593px;
          }
          .column-ul {
            margin-left: 700px;
          }
        }
      }
      .furniture:hover .furniture-subnav {
        display: block;
        a {
          border-bottom: 0;
        }
      }
      .furniture:hover a {
        color: rgb(93, 93, 93);
        border-bottom: 3px solid black;
      }
      .home:hover .home-subnav {
        display: block;
        a {
          border-bottom: 0;
        }
      }
      .home:hover a {
        color: rgb(93, 93, 93);
        border-bottom: 3px solid black;
      }
      .art:hover .art-subnav {
        display: block;
        a {
          border-bottom: 0;
        }
      }
      .art:hover a {
        color: rgb(93, 93, 93);
        border-bottom: 3px solid black;
      }
      .column:hover .column-subnav {
        display: block;
        a {
          border-bottom: 0;
        }
      }
      .column:hover a {
        color: rgb(93, 93, 93);
        border-bottom: 3px solid black;
      }
      .news:hover a {
        color: rgb(93, 93, 93);
        border-bottom: 3px solid black;
      }
    }
    .header-event {
      float: right;
      margin-top: -57px;
      li {
        padding: 9px;
        float: left;
        cursor: pointer;
        .seach {
          width: 50px;
          height: 14px;
          border-radius: 16px;
          border: 1px #666 solid;
          padding: 0 5px;
        }
        .seach:focus {
          outline: none;
        }

        img {
          width: 16px;
          height: 16px;
        }
      }
      #denglu-suce {
        display: none;
        position: relative;
        p {
          position: absolute;
          left: 0;
          bottom: -30px;
          width: 50px;
          height: 30px;
          font-size: 14px;
          text-align: center;
          line-height: 30px;
          border: 1px solid black;
          display: none;
        }
      }
      .login-zi {
        cursor: pointer;
        display: none;
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
// 商品详情 放大镜
.details {
  width: $maxWidth;
  overflow: hidden;
  .details-box {
    overflow: hidden;
    .details-left {
      float: left;
      width: 902px;
      height: 534px;
      .details-left-right {
        width: 200px;
        float: left;
        li {
          border: 1px solid rgb(151, 151, 151);
          width: 198px;
          height: 150px;
          margin: 18px 0;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .details-left-left {
        width: 700px;
        height: 534px;
        float: left;
        position: relative;
        img {
          height: 100%;
          width: 100%;
          float: left;
      }
      .smallshadow{
        width: 200px;
        height: 200px;
        position: absolute;
        top: 0;
        left:0;
        background-color: rgba(151, 151, 151,.3);
        display: none;
      }
      .big-shadow{
        width: 400px;
        height: 400px;
        position: absolute;
        top:33px;
        right:-434px;
        border: #000 1px solid;
        overflow: hidden;
        display: none;
      
        img{
          width: 1400px;
          height: 1068px;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      }
    }
    .details-right {
      font-family: "Gill Sans";
      float: left;
      width: 320px;
      height: 504px;
      // background-color: #888;
      margin-left: 40px;
      margin-top: 30px;
      h3 {
        font-weight: normal;
        font-size: 20px;
        color: #000;
        margin-bottom: 10px;
      }
      .bianhao {
        font-size: 10px;
        margin-bottom: 20px;
      }
      .jiage {
        font-size: 18px;
        color: #000;
        padding-bottom: 15px;
        border-bottom: 1px solid rgb(151, 151, 151);
        text-transform: capitalize;
      }
      .materisl {
        margin-top: 40px;
        font-size: 18px;
        color: #000;
        margin-bottom: 10px;
      }
      .kid {
        width: 320px;
        overflow: hidden;
        margin-bottom: 20px;
        li {
          float: left;
          font-size: 12px;
          margin-bottom: 7px;
          margin-right: 10px;
          color: #666;
          line-height: 25px;
          border: 1px solid #666;
          cursor: pointer;
          padding: 0 5px;
        }
        .kid-check {
          color: #000;
          border-color: #000;
        }
      }
      .number {
        margin-top: 20px;
        text-transform: capitalize;
        color: black;
        font-size: 16px;
        margin-bottom: 10px;
      }
      .number-shu {
        overflow: hidden;
        width: 200px;
        cursor: pointer;
        span {
          text-align: center;
          display: inline-block;
          line-height: 18px;
          font-size: 12px;
          padding: 0;
          width: 18px;
          border: 1px solid #000;
          float: left;
        }
        .num {
          text-align: center;
          line-height: 18px;
          font-size: 12px;
          padding: 0;
          width: 37px;
          border: 1px solid #000;
          float: left;
          border-left: none;
          border-right: none;
        }
        p {
          float: left;
          font-size: 16px;
          line-height: 18px;
          margin-left: 10px;
        }
      }
      .delivery {
        margin-top: 20px;
        text-transform: capitalize;
        color: black;
        font-size: 16px;
        margin-bottom: 10px;
      }
      .delivery-tips {
        font-size: 12px;
        line-height: 14px;
        color: rgb(181, 182, 178);
      }

      .buying,
      .shoppingcar {
        border: none;
        width: 136px;
        padding: 0;
        color: #fff;
        text-align: center;
        background-color: #000;
        font-size: 16px;
        line-height: 35px;
        margin-right: 10px;
        margin-top: 84px;
      }
      .buying,
      .shoppingcar:focus {
        outline: none;
      }
      
      .addshoppingcar-shadow{
        display: none;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.4);
        position:fixed;
        top:0;
        left:0;
        z-index: 4;
        .addshoppingcar-box{
          padding: 65px 42px 40px;
          width: 314px;
          height: 120px;
          position:fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #fff;
          .addshoppingcar{

            .cancle2{
              position: absolute;
              top: 10px;
              right: 22px;
              font-size: 24px;
              font-weight: 700;
              line-height: 1;
              color: #000;
              text-shadow: 0 1px 0 #fff;
              opacity: .5;
              border: none;
              background-color: transparent;
              cursor: pointer;
            }
                p{
                  font-size: 18px;
                  line-height: 22px;
                }
                .continue,.account{
                  width: 147px;
                  height: 40px;
                  background-color: #000;
                  color: #fff;
                  line-height: 40px;
                  font-size: 18px;
                  text-align: center;
                  border: none;
                  margin: 34px 5px 0 5px;

                }
                .continue,.account:focus {
        outline: none;
      }
          }
        }
      }

    }
  }
}
// 详细介绍
.particulars{
  width: $maxWidth;
  font-family: "Gill Sans";
  overflow: hidden;

  .particulars-box{
    width: $minWidth;
    margin-left: auto;
    margin-right: auto;
    .particulars-topimg{
      width: 200px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 80px;
      text-align: center;
      img{
        width: 100px;
        height: 120px;
      }
      P{
        line-height: 40px;
        font-size: 16px;
      }
    }
    .chicun{
      width: $minWidth;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
    .particulars-left{
      width: 640px;
      height: 640px;
     float: left;
     background-color: rgb(248, 242, 229);
      img{
        width: 100%;
        height: 100%;
      }
    }
    .particulars-right{
      width: 290px;
      height: 492px;
      background-color: #fff;
      margin-top: 72px;
      margin-left: 80px;
      float: left;
      img{
        margin-top: 20px;
        margin-bottom: 10px;

      }
      .ruler{
        width: 24px;
        height: 24px;
      }
      .hand{
        width: 20px;
        height: 29px;
      }
      .marker{
        width: 18px;
        height: 24px;
      }
      .wrench{
      width: 21px;
      height:26px;
      }
      .particulars-title{
        font-size: 16px;
        margin-bottom: 13px;
      }
      p{
        line-height: 1.5;
        font-size: 10px;
        color: #666;
    
      }
    }
  }
  }
}

// 
.footer-img{
  width: $minWidth;
  height: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

  img{
    width: 100%;
    height: 100%;
  }
}

// 底部
.foot {
  background-color: rgb(245, 245, 245);
  overflow: hidden;
  width: $maxWidth;
  margin-top: 80px;
  .foot-box {
    margin-bottom: 50px;
    width: $minWidth;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    ul {
      margin-top: 80px;
      float: left;
      width: 150px;
      text-align: center;
      background-color: rgb(245, 245, 245);
      margin-bottom: 20px;
      li {
        width: 150px;
        font-size: 14px;
        line-height: 20px;
      }
      li.foot-title {
        line-height: 30px;
        font-size: 16px;
        margin-bottom: 20px;
        a {
          padding: 0 20px;
          border-right: 1px black solid;
        }
      }
    }
    .foot-chat {
      // float: right;
      margin-top: 245px;
      width: $minWidth;
      p {
        float: right;
        width: 30px;
        height: 30px;
        margin-left: 10px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .copyright {
      margin-top: 275px;
      width: $minWidth;
      height: 30px;
      text-align: center;
      color: #666;
      p {
        font-size: 14px;
        line-height: 30px;
      }
    }
  }
}

// 登录页面

.login-shadow {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 20;
  .login-box {
    width: 800px;
    height: 454px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .cancle {
      width: 24px;
      height: 24px;
      text-align: center;
      position: absolute;
      top: 25px;
      right: 25px;
      font-size: 24px;
      font-weight: 700;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: 0.5;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
    .login-box2 {
      width: 596px;
      height: 296px;
      margin-top: 80px;
      margin-left: 104px;
      .login-left {
        width: 236px;
        height: 296px;
        float: left;
        border-right: 1px solid rgb(201, 201, 201);
        .login-saoma {
          line-height: 26px;
          font-size: 14px;
          color: #000;
          text-indent: 2em;
          font-family: "SimSun";
          font-weight: bold;
        }
        .login-weixin {
          margin-top: 50px;
          width: 134px;
          height: 134px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .login-tips {
          margin-top: 64px;
          line-height: 26px;
          font-size: 12px;
          color: #666;
          text-indent: 2em;
          font-family: "SimSun";
        }
      }
      .login-right {
        font-family: "SimSun";
        width: 280px;
        height: 296px;
        float: left;
        margin-left: 78px;
        .userlogin {
          text-align: center;
          line-height: 26px;
          font-size: 14px;
          color: #000;
          font-weight: bold;
          margin-bottom: 15px;
        }
        .username-div {
          border-bottom: 1px solid rgb(201, 201, 201) !important;
          margin-bottom: 10px;
          position: relative;
          .userpwd,
          .username {
            width: 280px;
            height: 40px;
            border: none;
            line-height: 40px;
          }
          .userpwd,
          .username:focus {
            outline: none;
          }
          .zhuanghu-tips {
            position: absolute;
            right: 0;
            top: 10px;
            font-size: 14px;
          }
        }
        .remeber-p {
          width: 280px;
          height: 16px;
          margin-bottom: 10px;
        }
        .remeber-label {
          margin-bottom: 5px;
          line-height: 16px;
        }
        .userpad-new {
          float: right;
          a:hover {
            text-decoration: underline;
            color: #f9d7ac;
          }
        }
        .denglu:focus {
          outline: none;
        }
        .phone-denglu,
        .denglu {
          width: 280px;
          height: 40px;
          background-color: #000;
          color: #fff;
          line-height: 40px;
          font-size: 14px;
          text-align: center;
          border: none;
          margin-top: 10px;
        }
        .zhuce {
          line-height: 20px;
          text-align: center;
          margin: 5px 0;
          a:hover {
            text-decoration: underline;
            color: #f9d7ac;
          }
        }
        .phone-denglu {
          margin-top: 7px;
          background-color: #666;
        }
      }
    }
  }
}
// 注册页面
.register-shadow {
  font-family: "SimSun";
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 20;
  .register-box {
    width: 432px;
    height: 532px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .cancle {
      width: 24px;
      height: 24px;
      text-align: center;
      position: absolute;
      top: 25px;
      right: 25px;
      font-size: 24px;
      font-weight: 700;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: 0.5;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
    .register-box2 {
      width: 326px;
      height: 404px;
      margin-top: 65px;
      margin-left: 52px;
      h3 {
        text-align: center;
        line-height: 26px;
        font-size: 20px;
        color: #000;
        margin-bottom: 30px;
      }
      .register-li {
        width: 326px;
        border-bottom: 1px solid rgb(201, 201, 201) !important;
        margin-bottom: 10px;
        position: relative;
        input {
          width: 326px;
          height: 52px;
          border: none;
          line-height: 40px;
        }
        input:focus {
          outline: none;
        }
        .verification {
          display: block;
          position: absolute;
          top: 0;
          left: 124px;
          width: 80px;
          height: 40px;
          background-color: #999;
          color: #000;
          text-align: center;
          line-height: 40px;
          font-size: 16px;
          letter-spacing: 5px;
        }
        .zhuanghu-tips {
          position: absolute;
          right: 0;
          top: 10px;
          font-size: 14px;
        }
      }
      .register-btn {
        width: 280px;
        height: 16px;
        margin-bottom: 10px;
        border-bottom: 0;
        .registerbtn {
          width: 16px;
          height: 16px;

          float: left;
        }
        span {
          float: left;
          line-height: 16px;
          font-size: 12px;
          margin-left: 5px;
        }
      }
      .register-zhuce {
        width: 326px;
        height: 52px;
        background-color: #000;
        color: #fff;
        line-height: 40px;
        font-size: 14px;
        text-align: center;
        border: none;
        margin-top: 15px;
      }
    }
  }
}
